<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body class="bg-body-secondary">
    <%- include("./partials/navbar") %>
    <div class="container">
      <div class="card shadow w-50 mx-auto mt-5 px-4" id="custom-card">
        <p class="fs-4 text-primary-emphasis mt-2">
          Hey <%= locals.user.username %>, Add your work here!
        </p>
        <form action="/todo/" method="post">
          <div class="input-group mt-3">
            <input
              type="text"
              class="form-control"
              placeholder="Add your work-list"
              name="workItem"
              required
            />
            <button
              class="btn bg-primary bg-gradient w-25 text-light"
              type="submit"
              style="min-width: max-content"
            >
              Add
            </button>
          </div>
        </form>
        <%- include("./items") %>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
